<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Client_API</servlet-name>
        <servlet-class>api.Client_API</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_API</servlet-name>
        <servlet-class>api.Admin_API</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicClient_API</servlet-name>
        <servlet-class>api.PublicClient_API</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Client_API</servlet-name>
        <url-pattern>/Client_API</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicClient_API</servlet-name>
        <url-pattern>/PublicClient_API</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_API</servlet-name>
        <url-pattern>/Admin_API</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3600
        </session-timeout>
    </session-config>
</web-app>
