/*
    Document   : standard
    Created on : 17-Jun-2013, 17:56:52
    Author     : Andreas Lianos
    Description:
        demo css for the admin panel
*/

#mainContainer{
    width:900px;
    margin-left: auto;
    margin-right: auto;
    color:#555;
    font:13px Verdana, sans-serif;
    min-height:100%;
    position:relative;
}

#topPanel{
    padding:10px;
    background: #fff url(../resources/topHeaderBack.png) center bottom no-repeat;
    height:80px;
}

#sidePanel {
    width:140px;
    height: 180px;
    float:left;
    padding:20px;
    border-right-style: dotted;
    border-right-width: 1px;
    border-right-color: #e4e4e4;
}

#mainWrapper{
    margin:10px;
    float:left;
    padding-bottom:100px; /* Height of the footer element */
}

#footer {
    background:#ffab62;
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
}
