.resultBlock{    
    float:left;
    padding:12px 0px;
    font-size: 13px;
    border-bottom: 1px solid #e4e4e4;
}
.image{
    overflow: hidden;
    height: 100px;
    float: left;
}
.image img{    
    width:120px;
}
.content{
    float:left;
    width:750px;
    padding-left: 20px;
}
.content .title{
    float:left;
    width:550px;
    padding-bottom:10px;
    font-size:18px;
    font-weight: bold;
}
.content .title a{
    text-decoration: none;
    color: #555;
}
.content .title a:hover{
    color: green;
    text-decoration: underline;
}
.content .shortDescription{
    float:left;
    width:400px;
}
.content .shortDescription ul{
    margin:0px;
}
.content .middleColumn{
    float:left;
    width:130px;
    padding:0 10px 0 10px;
}
.content .middleColumn .price{
    float:left;
    text-align:right;
    font-size: 18px;
    width:130px;
    height:20px;
    padding-bottom: 10px;
}
.content .middleColumn .rating-placeholder{
    float:left;
    height:30px;
    width:130px;
    text-align: right;
}
.content .middleColumn .rating-score {
  height: 12px;
  width: 70px;
  display: inline-block;
  vertical-align: top;
  margin-top: 1px;
  background: 0 0 url("../resources/starRatings.png") no-repeat;
}
.content .middleColumn .rating-score.rating-0 {
  background-position: 0px 0;
}
.content .middleColumn .rating-score.rating-1 {
  background-position: -70px 0;
}
.content .middleColumn .rating-score.rating-2 {
  background-position: -140px 0;
}
.content .middleColumn .rating-score.rating-3 {
  background-position: -210px 0;
}
.content .middleColumn .rating-score.rating-4 {
  background-position: -280px 0;
}
.content .middleColumn .rating-score.rating-5 {
  background-position: -350px 0;
}
.content .middleColumn .rating-score.rating-6 {
  background-position: -420px 0;
}
.content .middleColumn .rating-score.rating-7 {
  background-position: -490px 0;
}
.content .middleColumn .rating-score.rating-8 {
  background-position: -560px 0;
}
.content .middleColumn .rating-score.rating-9 {
  background-position: -630px 0;
}
.content .middleColumn .rating-score.rating-10 {
  background-position: -700px 0;
}
.content .explanation{
    float:right;
    width:189px;    
    min-height: 60px;
    border-left: 1px dotted #aaa;
    padding-left: 10px;
}

.resultQuestionsWrapper{
    float:left;
    margin:40px 0 0 0;
}

#subToolbarRight .options{
    padding-top: 10px;
    color:#999;
}
#subToolbarRight .options a{ 
    text-decoration: none;
}

#subToolbarRight .options .selected a{
    color:green;
    font-weight: bold;
    border-bottom: 1px dotted #a4a4a4;
}

#subToolbarRight .options a:hover{
    color:green;
    border-bottom: 1px dotted #a4a4a4;
}

#topLeftPanel{
    font-size: 26px;
}

#topLeftPanel .title{
    color:green;
}

