/*
    Document   : slidingPanels
    Created on : 12-Aug-2013, 12:01:06
    Author     : alianos
    Description:
        Purpose of the stylesheet follows.
*/

.slidingPanels{
    position: relative;
    overflow: hidden;
    width:670px;
    height:600px;
}
.panel{
    position:absolute;
    width:670px;
}
.panel.active{
  /*  display:block;*/
    left: 0px;
}

.panel.inactive{
   /* display:none;*/
    left:670px; /*set to the .panel width*/
}
.slidingPanelContents{
    font-size: 22px;
    font-family: Arial;
    padding:25px 25px 60px;
}

